.add{
position: absolute;
align-items: center;
}
.remove{
	position: relative;
	margin-left: -50px;
	margin-top: 12px;
	font-size: 35px;
	border-radius: 10px;
}

input {
  padding:10px;
  margin:10px 0; 
  border-radius:10px;
  width: 30%;
  background: lightblue;
  align-content: center;
  height: 30px;
}
label{
	color: blueviolet;
	font-size: 30px;
}
.plussing{
	border: 2px solid black;
	border-radius: 10px;
	width: 20%;
	color:black;
	cursor: pointer;
	background: lightblue;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;

}

h1{
	text-align: center;
	color:rgb(171, 71, 188) ;
}

.input{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}

.message{
    text-transform: uppercase;
	color: red;
   

}

.addTask{
	position: fixed;
	top: 60%;
	left: 3%;
	cursor: pointer;
	border-radius: 10px;
	color: red;
	font-size: 20px;
}

.message_1{
    text-transform: uppercase;
	color: red;
	position: fixed;
	top: 65%;
	left: 1%;
}


.tosecondpage{
	text-decoration: none;
	position: fixed;
	top: 80%;
	left: 1%;
	border: 2px solid black;
	border-radius: 10px;
	width: 20%;
	color:red;
	cursor: pointer;
	background: lightblue;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
}