.button_delete{
  cursor: pointer;
  position: relative;
left: 50%;
transform: translate(-50%, 0);
width: 50%;
height: 50px;
margin-top: 1rem;
padding: .1rem;
border: 1px solid #a6aaab;
border-radius: 7px;
color: red;
text-transform: uppercase;
font-size: 20px;
}
.task_selected{
  background-color: #ff4500;
  color: #dcdcdc;
  transition: 3s;
}
.conteiner{
margin-top: 2rem;
margin-left: 2rem;
margin-right: 2rem;
border-bottom:1px solid #dcdcdc;
}

.head{
  text-align: center;
}
.oneTask{
  margin: 3%;

}